
{% extends 'base.html' %}
{% load static %}
{% block content %}

 <div id="base-child">
    <main class="hoc container clear"> 
      <!-- main body -->
      <!-- ################################################################################################ -->
      <div class="content"> 
          <h1>Sales </h1>
          <div class="scrollable">
            <table>
              <thead>
                <tr>
                  <th>Staff</th>
                  <th>Qty</th>
                  <th>Sale Amount</th>
                  <th>Service</th>
                  <th>View</th>
                </tr>
              </thead>
              <tbody>
                {% for sale in sales %}
                 <tr> 
                  <td><a href="#">{{ sale.staff }}</a></td>
                  <td>{{ sale.car_qty }}</td>
                  <td>{{ sale.sale_amount }}</td>
                  <td>{{ sale.service }}</td>
                  <td>  
                    <p>
                      <a  href="/sales/{{sale.id}}" >
                      <button type="button" class="btn btn-primary btn-sm">   
                         View 
                      </button> </a> 
                      <a  href="/print/{{sale.id}}" > <button type="button" class="btn btn-secondary btn-xs">   
                         Print 
                      </button></a>
                          

                    </p>
                  
                  </td>
                 
                </tr> 
                     
                {% endfor %}
                 
              </tbody>
            </table>
          </div>
          <div id="comments">
            <br><br>
              <h2>Staff</h2>
              <ul>
                <li>
                  <article>
                    <header>
                      <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                      <address>
                      By <a href="#">A Name</a>
                      </address>
                      <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
                    </header>
                    <div class="comcont">
                      <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                    </div>
                  </article>
                </li> 
                <li>
                  <article>
                    <header>
                      <figure class="avatar"><img src="../images/demo/avatar.png" alt=""></figure>
                      <address>
                      By <a href="#">A Name</a>
                      </address>
                      <time datetime="2045-04-06T08:15+00:00">Friday, 6<sup>th</sup> April 2045 @08:15:00</time>
                    </header>
                    <div class="comcont">
                      <p>This is an example of a comment made on a post. You can either edit the comment, delete the comment or reply to the comment. Use this as a place to respond to the post or to share what you are thinking.</p>
                    </div>
                  </article>
                </li>
              </ul>
              <h2>Write A Comment</h2>
              <form action="#" method="post">
                <div class="one_third first">
                  <label for="name">Name <span>*</span></label>
                  <input type="text" name="name" id="name" value="" size="22" required>
                </div>
                <div class="one_third">
                  <label for="email">Mail <span>*</span></label>
                  <input type="email" name="email" id="email" value="" size="22" required>
                </div>
                <div class="one_third">
                  <label for="url">Website</label>
                  <input type="url" name="url" id="url" value="" size="22">
                </div>
                <div class="block clear">
                  <label for="comment">Your Comment</label>
                  <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
                </div>
                <div>
                  <input type="submit" name="submit" value="Submit Form">
                  &nbsp;
                  <input type="reset" name="reset" value="Reset Form">
                </div>
              </form>
          </div>
      </div>
    </main>
 </div>

    
{% endblock %}